@model IEnumerable<WebProyectoPrototipoAgricultura.Models.Requests.Producto>

@{
    ViewData["Title"] = "Mis Productos";
}



<div class="container">
    <h1>Todos los Productos</h1>

    <button id="buttonID" class="btn btn-success" title="ad action">Comprar Productos</button>
    <table class="table" id="productos">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadDisponible)
                </th>
                <th>Agregar al Carrito</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.Agricultor.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadDisponible)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.Selected)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>